{{> head }}
{{> navbar }}

<div class="row">
    <div class="col">
        <h1>Test imagen</h1>
    </div>

    <div class="col">
        <img src="../public/assets/img/test.jpg" class="img-thumbails">
    </div>
</div>
{{> footer }}